<div class="text-center jumbotron">
  <%= link_to "pourquoi?" %> <br>
  <%= image_tag('https://linksaveszelda.files.wordpress.com/2013/04/unclesam.jpg')%><br>
  <%= link_to "voter", new_vote_path, class:'btn btn-default' %>
</div>
